.card {
    width: 500px;
}

body {
    display: table-cell;
    vertical-align: middle;
}

html {
    display: table;
    margin: auto;
}

.help-block {
    font-size: 12px
}

ul {
    font-size: 12px
}

